node_modules
cli/node_modules
*.html
!desktop/app/index.html
!desktop/app/french.html
*.jpg
*.png
!desktop/demo.png
desktop/node_modules
desktop/minified
desktop/tmp
desktop/app/node_modules
desktop/app/credits.html
desktop/*.dll
desktop/*.dat
desktop/*.pak
desktop/*.exe
desktop/cache
desktop/build